name: Build
on:
  push:
    branches:
      - master
      - branch-*
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: github-ubuntu-latest-s
    permissions:
      id-token: write
      contents: write
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: jdx/mise-action@5ac50f778e26fac95da98d50503682459e86d566 # v3.2.0
        with:
          version: 2025.7.12
          tool_versions: |
            java 17.0
      - uses: SonarSource/ci-github-actions/build-gradle@v1
        with:
          public: true
          deploy-pull-request: false
          skip-tests: false
          use-develocity: true
          gradle-args: "--build-cache -x sonar"
          disable-caching: true
